registry=https://registry.npmjs.org/
auto-install-peers=true
strict-peer-dependencies=false
fetch-retries=2
fetch-retry-mintimeout=5000
fetch-retry-maxtimeout=30000
fetch-timeout=20000
network-concurrency=8
prefer-frozen-lockfile=false
strict-ssl=true
